.randomLetter {
  margin: 0 10px;
  background: #fff;
  color: green;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  min-height: 2rem;
}

.resetbtn {
  border: none;
  outline: none;
  background: #f1416b;
  color: #fff;
}
.inputbox {
  background: #f9f1e8;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
